@model UIdea.Models.Idea

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredMembers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiredMembers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FacebookContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacebookContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstagramContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstagramContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwitterContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwitterContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GitHubContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GitHubContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkedinContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkedinContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherContact)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
