@model UIdea.Models.Idea

@inject SignInManager<ApplicationUser> SignInManager

@using UIdea.Models

@{
    ViewData["Title"] = "Details";
}

<object class="imgIdeaLogo" data="data:image/png;base64,@Convert.ToBase64String(Model.AvatarImage)" width="224" height="224" type="image/png">
    <img class="imgIdeaLogo" src="~/images/ideaavatar_default_lightbulb_128_128.jpg" width="224" height="224" />
</object>

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <a href="">Change logo</a>
    </div>
</div>


<div class="row">
    <div class="col-md-6" style="text-align:center">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <h4>@Html.DisplayFor(model => model.Description)</h4>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal" style="margin-top:50px">
            <dt>
                @Html.DisplayNameFor(model => model.FacebookContact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FacebookContact)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.InstagramContact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.InstagramContact)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TwitterContact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TwitterContact)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GitHubContact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GitHubContact)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EmailContact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EmailContact)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LinkedinContact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LinkedinContact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtherContact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OtherContact)
            </dd>
        </dl>
    </div>
</div>

@if (SignInManager.IsSignedIn(User) && User.GetUserId().Equals(Model.OwnerID))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}

