@model PaginatedList<ApplicationUser>

@{
    ViewData["Title"] = "Users";
}
<h2>@ViewData["Title"]</h2>

<div class="container-fluid">
    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-md-3 userdiv" style="text-align:center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <object class="imgIdeaLogo" data="data:image/png;base64,@Convert.ToBase64String(user.AvatarImage)" width="64" height="64" type="image/png">
                                <img class="imgIdeaLogo" src="~/images/ideaavatar_default_lightbulb_128_128.jpg" width="64" height="64" />
                            </object>
                        </div>
                        <div class="col-md-7" >
                            <div class="row" style="padding-top:20px">
                                <div class="col-md-6">
                                    <a asp-action="UserProfile" asp-controller="Home" 
                                       asp-route-id="@user.Id">@user.UserName</a>
                                </div>
                                <div class="col-md-6">
                                    <span class="label label-primary">XP:@user.XP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        }
    </div>
</div>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; ++i)
        {
            <li>
                <a asp-action="Users" asp-route-page="@i">@i</a>
            </li>
        }
    </ul>
</div>

